html { font-size: 20px; }
body { font-size: 0.8rem; }

.container { display: flex; justify-content: space-between; padding: 1.5rem; gap: 1.5rem; width: 1200px; margin: 0 auto; }
h1 { font-size: 1rem; font-weight: 700;}
.gnb>ul { display: flex; gap: 0.5rem; }
.gab>ul>li { text-align: center; }
.gnb>ul>li~li { border-left: 1px solid #ddd; padding: 0 0 0 0.5rem;}  
.mbtn { display: none; }

.step01 { padding: 5rem 0; text-align: center; background: rgb(198, 228, 254);}
.step01 h2 { font-size: 1.25rem; margin: 0 0 0.5rem 0;}
.step01 p { font-size: 0.75rem; margin: 0 0 1.5rem 0;}



@media (max-width:1200px){
    .container { width: auto;}
    .step01 { background: rgb(162, 206, 245); }
}

@media (max-width:768px) {
    .container { gap: 0.75rem; }
    .gnb { display: none; }
    .gnb>ul { flex-direction: column;}
    .gnb>ul>li~li { border-left: none; border-top: 1px solid #ddd; padding: 0.5rem 0 0 0;}
    .mbtn { display: block; } 
    .step01 { background: rgb(104, 167, 222); }
}

@media (max-width:560px) {
    .step01 { background: rgb(41, 133, 213); color: aliceblue; }
    .step01 h2 { font-size: 5vw; margin: 0 0 0.5rem 0; } 
}